#!KAMAILIO

loadmodule "dialplan.so"
modparam("dialplan", "db_url", DBCONFIG)
modparam("dialplan", "table_name", "kamailio.dialplan")
modparam("dialplan", "dpid_col", "dpid")
modparam("dialplan", "pr_col", "pr")
modparam("dialplan", "match_op_col", "match_op")
modparam("dialplan", "match_exp_col", "match_exp")
modparam("dialplan", "match_len_col", "match_len")
modparam("dialplan", "subst_exp_col", "subst_exp")
modparam("dialplan", "repl_exp_col", "repl_exp")
modparam("dialplan", "attrs_col", "attrs")
modparam("dialplan", "attrs_pvar", "$vn(attrs)")
modparam("dialplan", "fetch_rows", 1000)
modparam("dialplan", "match_dynamic", 1)

route[DIALPLAN] {
    if ($vn(dialplan_route) == $null)
        return;

    switch($vn(dialplan_route)) {
        case /"internal|location":
            if ($var(domain) != 0) {
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):domain:$var(domain));
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:domain:$var(domain));
                route(DIALPLAN_EXECUTE);
            }
            if ($var(user) != 0) {
                #$vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):user:$var(user));
                #$vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:user:$var(user));
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):user:$avp(uuid));
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:user:$avp(uuid));
                route(DIALPLAN_EXECUTE);
            }
            break;
        case /"inbound|outbound|auth|loopback":
            if ($avp(gw_uuid) != $null) {
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):gateway:$avp(gw_uuid));
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:gateway:$avp(gw_uuid));
                route(DIALPLAN_EXECUTE);
            } else {
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):req-uri:$rd);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:req-uri:$rd);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):req-uri:$rU@$rd);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:req-uri:$rU@$rd);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):from-uri:$fd);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:from-uri:$fd);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):from-uri:$fU@$fd);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:from-uri:$fU@$fd);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):to-uri:$td);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:to-uri:$td);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):to-uri:$tU@$td);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:to-uri:$tU@$td);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):addr:$si);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:addr:$si);
                route(DIALPLAN_EXECUTE);
                $vn(dialplan) = $sht(dialplans=>$vn(dialplan_route):from-uri:$si@$sp);
                $vn(dp_reply) = $sht(dialplans=>$vn(dialplan_route):reply:from-uri:$si@$sp);
                route(DIALPLAN_EXECUTE);
            }
            break;
            default:
                xlog("L_WARN", "Dialog route not available '$vn(dialplan_route)'!");
    }
}

route[DIALPLAN_EXECUTE] {
    if ($vn(dp_reply) != $null && $vn(dp_reply) != "" )
        $avp(dp_reply) = $vn(dp_reply);

    if ($vn(dialplan) == $null || $vn(dialplan) == "" || $vn(dialplan) == 0) return;

    # Check if exists methods condition and if the request method match that condition.
    if ($(vn(dialplan){param.value, method}) != $null && !($rm =~ ($(vn(dialplan){param.value, method})))) {
        xlog("$avp(i:2)", "DIALPLAN: method '$rm' not matching '$(vn(dialplan){param.value, method})'\n");
        return;
    }

    xlog("$avp(i:2)", "DIALPLAN: apply '$vn(dialplan_route)' dialplan '$vn(dialplan)' to $rm $ru\n");

    $var(i) = 0;
    while($(vn(dialplan){param.valueat,$var(i)}) != "")  {
        $var(id) = $(vn(dialplan){param.valueat,$var(i)});
        $var(name) = $(vn(dialplan){param.name,$var(i)});
        $vn(res) = $null;
        $vn(attrs) = $null;

        if ($var(id) =~ "^[0-9]+$" && $var(name) =~ ".+" && $var(name) != "method") {
            $var(id) = $(var(id){s.int});

            switch($var(name))  {
                case "req.user":
                    if (dp_translate( "$var(id)", "$rU/$vn(res)") == 1 && $vn(res) != $null)
                        $rU = $vn(res);
                    break;
                case "req.host":
                    if (dp_translate( "$var(id)", "$rd/$vn(res)") == 1 && $vn(res) != $null)
                        $rd = $vn(res);
                    break;
                case "from.user":
                    if (dp_translate( "$var(id)", "$fU/$vn(res)") == 1 && $vn(res) != $null)
                        $fU = $vn(res);
                    break;
                case "from.host":
                    if (dp_translate("$var(id)", "$fd/$vn(res)") == 1 && $vn(res) != $null)
                        $fd = $vn(res);
                    break;
                case "to.user":
                    if (dp_translate("$var(id)", "$tU/$vn(res)") == 1 && $vn(res) != $null)
                        $tU = $vn(res);
                    break;
                case "to.host":
                    if (dp_translate("$var(id)", "$td/$vn(res)") == 1 && $vn(res) != $null)
                        $td = $vn(res);
                    break;
                default:
                    if ($hdr($var(name)) != $null) {
                        if (dp_translate("$var(id)", "$hdr($var(name))/$vn(res)") == 1 && $vn(res) != $null) {
                            remove_hf($var(name));
                            append_hf("$var(name): $vn(res)\r\n");
                        }
                    }
            }

            switch($rc) {
                case 1:
                    xlog("$avp(i:2)", "DIALPLAN:  dialplan '$var(id)' changed '$var(name)' to ---> $vn(res)");
                    break;
                case -1:
                    xlog("$avp(i:2)", "DIALPLAN:  dialplan '$var(id)' error, '$var(name)' not changed! $vn(attrs)");
                    break;
                case -2:
                    xlog("$avp(i:2)", "DIALPLAN:  dialplan '$var(id) not found, '$var(name)' not changed! $vn(attrs)");
                    break;
            }

            route(DIALPLAN_ATTRIBUTES);
        }
        else if ($var(name) != "method")
            xlog("L_ERR", "DIALPLAN: Invalid syntax '$var(name)=$var(id)', on dialplan '$vn(dialplan)'");

        $var(i) = $var(i) + 1;
    }
    return;
}

# Process dialplan attributes they are separated with ; and could have the following Format
# function(arg1,arg2);
# function(arg1);
# function;
# In any case they could have the suffix =value, for example
# function(arg1)=value;
route[DIALPLAN_ATTRIBUTES] {
    if ($vn(attrs) == $null)
        return;

    xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: processing attributes '$vn(attrs)'");

    $var(j) = 0;
    while($(vn(attrs){s.select,$var(j),;}) != "")
    {
        $var(k) = $(vn(attrs){s.select,$var(j),;}{s.trim});
        $var(fn) = $(var(k){s.select,0,(}{s.trim}));
        $var(args) = $(var(k){s.select,1,(}{s.striptail,1}{s.trim}));
        $var(arg1) = $(var(args){s.select,0,,}{s.trim});
        $var(arg2) = $(var(args){s.select,1,,}{s.trim});

        switch($var(fn))  {
            case "rm_hf":
                if ($var(arg1) == "") break;
                remove_hf($var(arg1));
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: removing headers '$var(arg1)' ---> $rc");
                break;
            case "append_hf":
                if ($var(arg1) == "" || $var(arg2) == "") break;
                append_hf("$var(arg1): $var(arg2)\r\n");
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: append header '$var(arg1)' with value '$var(arg2)' ---> $rc");
                break;
            case "dialplan":
                if (!($var(arg1) =~ "^[0-9]+$") || $var(arg2) == "") break;
                $vn(tmp) = $vn(attrs);
                $var(arg1) = $(var(arg1){s.int});
                if ( $hdr($var(arg2)) != $null && dp_translate("$var(arg1)", "$hdr($var(arg2))/$vn(res)") == 1) {
                    remove_hf($var(arg2));
                    append_hf("$var(arg2): $vn(res)\r\n");
                    xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: changed header '$var(arg2)' to '$vn(res)'");
                }
                $vn(attrs) = $vn(tmp);
                break;
            case "sdp_rm_codecs":
                if ($var(args) == "" || !sdp_content()) break;
                sdp_remove_codecs_by_name($var(args));
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: remove codecs '$var(args)' --> $rc");
                break;
            case "sdp_keep_codecs":
                if ($var(args) == "" || !sdp_content()) break;
                sdp_keep_codecs_by_name($var(args));
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: keep only, codecs '$var(args)' --> $rc");
                break;
            case "sdp_rm_line":
                if ($var(args) == "" || !sdp_content()) break;
                sdp_remove_line_by_prefix($var(args));
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: Removed SDP line with prefix '$var(args)' --> $rc");
                break;
            case "apply_changes":
                msg_apply_changes();
                xlog("$avp(i:2)", "DIALPLAN_ATTRIBUTES: Trying to apply changes to message.");
                break;
            default:
                xlog("L_WARN", "DIALPLAN_ATTRIBUTES: dialplan ($var(id)) attribute '$(vn(attrs){s.select,$var(j),;})' unknown !");
        }

        $var(j) = $var(j) + 1;
    }
}

route[DIALPLAN_REPLY] {
    $var(i) = 0;
    while ($(avp(dp_reply)[$var(i)]) != $null) {
        $vn(dialplan) = $(avp(dp_reply)[$var(i)]);
        xlog("$avp(i:2)", "DIALPLAN_REPLY: [$var(i)] excuting dialplan '$vn(dialplan)'");
        $var(i) = $var(i) + 1;
        route(DIALPLAN_EXECUTE);
    }
}
