
route[INIT_REQ_PRELOAD_ROUTE] {

    if(is_present_hf("Route")) {
        if($avp(ds_info) == $null) {
            remove_hf("Route");
            msg_apply_changes();
        } else {
            if(!loose_route_preloaded()) {
                sl_send_reply("404", "Error loose route out-of-dialog Request");
                exit;
            }
        }
    }

}

route[EXTERNAL_REGISTRAR_CONTACT] {

    $ru = $tu;

    $vn(dialplan_route) = "outbound";
    route(DIALPLAN);

    ## mark to fix NAT on replies, as we are handling with external hops
    $avp(fix_contact_reply) = "yes";

    xlog("L_NOTICE", "[EXTERNAL_REGISTRAR_CONTACT] Let's dispatch request: $rm to $du ");

    route(INIT_REQ_PRELOAD_ROUTE);
    route(RECORD_ROUTE);
    route(RELAY);

}

route[EXTERNAL] {

    if (!has_totag() && $avp(ds_info) != $null && $avp(setid) == CORE_INTERNAL_SET_ID) {

        route(EXTERNAL_REGISTRAR_CONTACT);

        exit;

    }

    return;

}
