
route[EXTERNAL_REGISTRAR_CONTACT] {

    $ru = $tu;

    $vn(dialplan_route) = "outbound";
    route(DIALPLAN);

    route(RECORD_ROUTE);

    ## mark to fix NAT on replies, as we are handling with external hops
    $avp(fix_contact_reply) = "yes";

    xlog("L_NOTICE", "[EXTERNAL_REGISTRAR_CONTACT] Let's dispatch request: $rm to $du ");

    route(RELAY);

}

route[EXTERNAL] {

    if ($avp(ds_info) != $null && $avp(setid) == REGISTRAR_INTERNAL_SET_ID) {

        route(EXTERNAL_REGISTRAR_CONTACT);

        exit;

    }

    return;

}
