
#!ifdef WITH_PROM_STATS
    loadmodule "xhttp_prom.so"
    modparam("xhttp_prom", "xhttp_prom_stats", "all")
    modparam("xhttp_prom", "xhttp_prom_pkg_stats", 1)
    modparam("xhttp_prom", "xhttp_prom_uptime_stat", 1)
#!endif

route[SEND_RESPONSE_TO_PROMETHEUS] {

    $vn(source) = $pr + ":" + $Ri + ":" + $Rp;
    if (prom_check_uri() && $vn(source) =~ $env(PROM_STATS_LISTEN)) {
        prom_dispatch();
        exit;
    }

}
