
req_init.reason_unaccepted_requests = "Method Not Allowed"
req_init.sip_code_unaccepted_requests = 405

route[REQINIT] {

    if(has_totag())
        return;

    xlog("L_NOTICE", "[REQINIT] Init Request received $ru from $si\n");

	if (is_method("CANCEL")) {
        if (t_check_trans()) {
			route(RELAY);
		}
        xlog("L_NOTICE", "[REQINIT] received $ru, that does not belong to any transaction, let's silently exit.");
		exit;
	}

    if (is_method("SUBSCRIBE|PUBLISH")){
        xlog("L_NOTICE", "[REQINIT] Not supporting relaying of $rm request's\n");
        sl_send_reply("$ccp(req_init.sip_code_unaccepted_requests)", "$ccp(req_init.reason_unaccepted_requests)");
        exit;
    }

    #!ifdef WITH_DMQUEUE
        route(HANDLE_KDMQ_REQUEST);
    #!endif

    #!ifdef WITH_MID_REGISTRAR_SUPPORT
        route(HANDLE_REGISTER);
    #!endif

    return;
}

## blocking logic will be applied not here, but on reception of bad attempts/brute force, from Core --> WebRTC Gateway
route[TRUSTED] {

    ds_is_from_list();

}
