
route[INTERNAL] {

    $avp(unique_id) = $fu + ":" + $si + ":" + $sp;

    if (!has_totag() && is_method("INVITE") && $avp(ds_info) == $null && $sht(internal_registrations_state=>$avp(unique_id)) != $null) {

        ## Let's dispatch internally
        $avp(set_id) = CORE_INTERNAL_SET_ID;

        xlog("L_NOTICE", "[INTERNAL] Let's dispatch request: $rm internally");

        $vn(dialplan_route) = "inbound";
        route(DIALPLAN);

        route(RECORD_ROUTE);

        route(DISPATCH);

    }

    return;

}
