#!KAMAILIO

modparam("xlog", "buf_size", 8192)
modparam("xlog", "force_color", 1)
modparam("xlog", "log_colors", "L_ERR=cr;L_WARN=px")
modparam("xlog", "long_format", 1)
modparam("xlog", "prefix", "")

route[LOG_TRACE] {

    if ($sht(params=>log_no_$rm) != $null)
        return;

    xlog("$avp(i:1)", "<----------------------------------------------------------------------<$ci>\n");
    xlog("$avp(i:1)", "$mi $rm $ru  (CSeq:$cs), from $(proto{s.toupper}):$si:$sp");
    xlog("$avp(i:1)", "- FROM: $fu --> TO: $tu\n");
    if ($ct != $null) xlog("$avp(i:1)", "- Contact: $ct\n");
    if ($hdr(Route) != $null) xlog("$avp(i:1)", "- Route: $(hdr(Route)[*])\n");
    if ($hdr(Record-Route) != $null) xlog("$avp(i:1)", "- Record-Route: $(hdr(Record-Route)[*])\n");
    if ($hdr(Via) != $null) xlog("$avp(i:1)", "- Via: $(hdr(Via)[*])\n");
    if ($hdr(Path) != $null) xlog("$avp(i:1)", "- Path: $(hdr(Path)[*])\n");
    if ($pu != $null) xlog("$avp(i:1)", "- P-Preferred-Identity: $pu\n");
    if ($ai != $null) xlog("$avp(i:1)", "- P-Asserted-Identity: $ai\n");
    if ($re != $null) xlog("$avp(i:1)", "- Remote-Party-ID: $re\n");
    if ($di != $null) xlog("$avp(i:1)", "- Diversion: $di\n");
    if ($rt != $null) xlog("$avp(i:1)", "- Refer-To: $rt\n");
    if ($hdr(Expires) != $null) xlog("$avp(i:1)", "- Expires: $hdr(Expires)\n");
    if ($adu != $null) xlog("$avp(i:1)", "- Authorization: Digest username='$au', realm='$ar', uri='$adu'\n");
    if ($cT != $null) $var(tmp) = "        Content type:" + $cT + ", " + $cl + " bytes";
    else $var(tmp) = "";
    xlog("$avp(i:1)", "- User-Agent: $ua$var(tmp)\n");
    if (($sht(params=>log_sdp_packets)=='1') && sdp_get("$avp(sdp)")) {
        $var(str) = "- SDP: " + $avp(sdp);
        route(LOG_TEXT);
    }
}

route[LOG_TEXT] {
    if ($var(str)==$null || $var(str)==0 || $var(str)=="") return;
    $var(i) = 0;

    while ($var(i) < $(var(str){line.count})) {
        if ($var(i) > 0)
            xlog("$avp(i:2)", "     $(var(str){line.at,$var(i)})\n");
        else
            xlog("$avp(i:2)", "$(var(str){line.at,$var(i)})\n");

        $var(i) = $var(i) + 1;
    }

}

route[LOG_LEVEL] {
    $avp(i:3) = 3;
    $avp(i:1) = 3;
    $avp(i:2) = 3;

    $var(i) = $sht(params=>log_sip::size);

    while ($var(i) > 0) {
        $var(i) = $var(i) - 1;
        $var(t) = $sht(params=>log_sip[$var(i)]);

        if ((from_uri =~ $var(t)) || (to_uri =~ $var(t)) || (uri =~ $var(t))) {
            if ($sht(params=>loglevel_packet) == $null)
                $avp(i:1) = 1;
            else
                $avp(i:1) = $(sht(params=>loglevel_packet){s.int});

            if ($sht(params=>loglevel_detail) == $null)
                $avp(i:2) = 1;
            else
                $avp(i:2) = $(sht(params=>loglevel_detail){s.int});

            if ($sht(params=>loglevel_route) == $null)
                $avp(i:3) = 1;
            else
                $avp(i:3) = $(sht(params=>loglevel_route){s.int});

            $var(i) = -1;
        }
    }
}
