
## TODO: Possible more fixes and improvements are needed - internal_registrations_real_dest is used only to avoid re-check of good internal hop, when we need to jump for multiple internal clouds, if it's not the cause you can clean it

loadmodule "stun.so"
loadmodule "path.so"

modparam("path", "sockname_mode", 1)
modparam("path", "enable_r2", 1)
modparam("path", "received_format", 0)
modparam("path", "use_received", 1)

## max value accepted by core
#!define INTERNAL_EXPIRES_VALUE 3600

## autoexpire requires a valid unique value, otherwise will fail - can't parse math ops
#!defexp INTERNAL_REGISTER_HTABLE_TIMEOUT 3600/2-100

#!ifdef WITH_DMQUEUE
    #!defexps INTERNAL_REGISTER_STATE_HTABLE "internal_registrations_state=>size=21;" + "autoexpire=" + INTERNAL_REGISTER_HTABLE_TIMEOUT + ";updateexpire=0;dmqreplicate=1"
#!else
    #!defexps INTERNAL_REGISTER_STATE_HTABLE "internal_registrations_state=>size=21;" + "autoexpire=" + INTERNAL_REGISTER_HTABLE_TIMEOUT + ";updateexpire=0"
#!endif

modparam("htable", "htable", INTERNAL_REGISTER_STATE_HTABLE)

route[HANDLE_REGISTER] {

    if(is_method("REGISTER")) {

        if (t_check_trans()) {
            exit;
        }

        ## if ip+port goes wrong for some strange case, test with contact header, sip id is not a valid approach, as is not sended by all UA's
        $avp(unique_id) = $fu + ":" + $si + ":" + $sp;

        if($sht(internal_registrations_state=>$avp(unique_id)) == $null) {
            route(HANDLE_NEW_REG);
        } else {
            if ($expires(max) > 0)
                route(HANDLE_RE_REGISTER);
            else
                route(HANDLE_NEW_REG);
        }

        exit;
    }

}

## TODO: Ideally on BYOC they should be agreggated per cluster, so only one internal registrar per cluster is needed, and we should use dispatcher for that (including testing failover)
route[HANDLE_NEW_REG] {

    route(CHANGE_EXPIRES_HEADER);

    $avp(set_id) = REGISTRAR_INTERNAL_SET_ID; ## when this mode is enabled, internal dest group must be 1, otherwise will fail
    route(CHECK_AVAILABLE_DESTINATIONS);

    ## default fsn --> dispatcher default + custom sockname on dispatcher attrs will always take precedence (here only to avoid lumps errors on the logs) -- not fixed, the problem is on path header stuff and the error happens on msg_apply
    $fsn = "lan-internal";

    add_path_received("webrtc_gateway", "ob");

    ##msg_apply_changes();

    ##route(FIX_BAD_PATH_BEHAVIOUR_R2_ON_SAME_SOCKET);

    ##route(SUBST_PATH_HEADER_HOST);

    route(RELAY_REGISTER);

}

route[HANDLE_RE_REGISTER] {

    route(CHANGE_EXPIRES_HEADER);

    t_send_reply("200", "OK");

}

route[RELAY_REGISTER] {

    if(!t_is_set("onreply_route"))
        t_on_reply("MANAGE_REGISTER_REPLY");

    if(!t_is_set("failure_route"))
        t_on_failure("MANAGE_REGISTER_FAILURE_DISPATCHER");

    t_set_fr(0,5000);

    if (!t_relay()) {
        xlog("[RELAY_REGISTER]", "A problem occurred...");
        sl_send_reply("504", "Internal problem");
    }

    exit;

}

onreply_route[MANAGE_REGISTER_REPLY]{

    if(t_check_status(200)) {

        if($expires(max) > 0) {
            $sht(internal_registrations_state=>$avp(unique_id)) = "confirmed";
        } else {
            $sht(internal_registrations_state=>$avp(unique_id)) = $null;
        }
    }

}

failure_route[MANAGE_REGISTER_FAILURE_DISPATCHER] {

    if (t_is_canceled() || t_is_expired()) drop();

    if (t_branch_timeout() && !t_branch_replied()) {

        ds_mark_dst("ip");

        if(ds_next_dst()) {
            xlog("L_NOTICE", "[MANAGE_REGISTER_FAILURE_DISPATCHER] Let's try another server - $avp(setid) \n");
            t_on_failure("MANAGE_REGISTER_FAILURE_DISPATCHER");
            t_set_fr(0,3000);
            route(RELAY_REGISTER);
        } else {
            send_reply("500", "An internal problem happened");
            exit;
        }
    }

    if(t_check_status("603")) {
        $sht(internal_registrations_state=>$avp(unique_id)) = $null;
        send_reply("603", "Invalid user or credentials");
        #!ifdef WITH_FAIL2BAN_SUPPORT
            file_out(FILE_OUT_NAME, "BAN - received a request $rm with invalid credentials/nonce or user/domain invalid - to ban: $si");
        #!endif
    }

    exit;

}

route[CHANGE_EXPIRES_HEADER] {

    if($expires(max) > 0) {
        $vn(internal_expires_value) = INTERNAL_EXPIRES_VALUE;
        remove_hf("Expires");
        append_hf("Expires: $vn(internal_expires_value)\r\n");
    }

}

route[FIX_BAD_PATH_BEHAVIOUR_R2_ON_SAME_SOCKET] {

    if (!is_uri("$hdr(Path)")) {
        xlog("L_WARN", "Removing invalid Path header: $hdr(Path)\n");

        $vn(outbound_r2_path) = $(hdr(Path)[-1]);
        $vn(path_with_r2) = $(vn(outbound_r2_path){s.rm,;r2=on});
        remove_hf("Path");
        insert_hf("Path: $vn(path_with_r2)\r\n", "Supported");

        msg_apply_changes();
    }

}

route[SUBST_PATH_HEADER_HOST] {

    if (!subst_hf("Path", "/(.*)@([^:;>]+)(.*)$/\1$env(DMQUEUE_PEER_NODE)\2/", "a") ) {
        xlog("L_ERR", "[SUBST_PATH_HEADER_HOST] Failed to substitute Path header \n");
    }

    msg_apply_changes();

}

