
dispatch.options_response_timeout = 3000

event_route [tm:local-request] {

    if (is_method("OPTIONS")) {
        t_on_reply("REPLY_LOCAL_REQUEST_OPTIONS");

        t_set_fr(0, $sel(cfg_get.dispatch.options_response_timeout));

        #!ifdef WITH_SIPTRACE
            sip_trace();
        #!endif

        xlog("L_NOTICE", "[tm:local-request] Local Request sent $rm $ru, from:$fu, to:$tu, sent to $du");
    }

    return;
}

onreply_route[REPLY_LOCAL_REQUEST_OPTIONS] {

    if !($rs =~ "200")
        xlog("L_WARN", "[REPLY_LOCAL_REQUEST_OPTIONS]: $rm fail, '$rs - $rr'\n");

    #!ifdef WITH_SIPTRACE
        sip_trace();
    #!endif

    return;
}

event_route[sl:filtered-ack] {
    xlog("L_NOTICE", "[sl:filtered-ack] ACK to local reply absorbed\n");
}

event_route[sl:local-response] {
    xlog("L_NOTICE", "[sl:local-response] replied locally - $rs $rr \n");
}
