
onsend_route {

    xlog("L_NOTICE", "[ONSEND_ROUTE] $ru, to $sndto(ip):$sndto(port) using interface with ip $sndfrom(ip):$sndfrom(port) ($sndto(len) Bytes)\n");

    if (($sht(params=>log_send_packets)=='1')) {
        $var(i) = 0;
        while ($var(i) < $(sndto(buf){line.count})) {
            xlog("$avp(i:2)", "[ONSEND_ROUTE] $(sndto(buf){line.at,$var(i)})\n");
            $var(i) = $var(i) + 1;
        }
    }

    #!ifdef WITH_SIPTRACE
        if (is_method("ACK") && isflagset(FLT_SIPTRACE))
            sip_trace();
    #!endif

}
