#!KAMAILIO

#!defenv SHM_MEMORY
#!trydefenv SHM_MEMORY_THRESHOLD
#!trydef SHM_MEMORY_THRESHOLD 5

####### Include Local Config If Exists #########
include_file "config.cfg"

# Include DB config file
include_file "db.cfg"

####### Global Parameters #########
user_agent_header="User-Agent: webrtc-gateway"
server_header="WebRTC Gateway"
server_signature=no

## FLAGS

#!define FLT_SIPTRACE 22

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
#!ifdef WITH_DEBUG
    debug=3
#!else
    debug=1
#!endif

#!trydefenv NUM_CHILDREN
#!ifdef NUM_CHILDREN
    children=NUM_CHILDREN
#!endif

#!trydefenv MODINIT_DELAY
#!ifdef MODINIT_DELAY
    modinit_delay=MODINIT_DELAY
#!endif

# Ports to activate tls, could be more than one
#!ifdef WITH_TLS
    enable_tls=yes
    #!trydefenv TLS_DEFAULT_PORT
    #!trydef TLS_DEFAULT_PORT 5061
    tls_port_no=TLS_DEFAULT_PORT
#!endif

/* SIP traces async insert */
#!ifdef WITH_ASYNC_INSERT
    #!trydefenv ASYNC_WORKERS
    #!trydef ASYNC_WORKERS 12
    async_workers=ASYNC_WORKERS
#!endif

## DISPATCHER SET IDS

#!trydefenv REGISTRAR_INTERNAL_SET_ID
#!trydef REGISTRAR_INTERNAL_SET_ID 1

#!trydefenv CORE_INTERNAL_SET_ID
#!trydef CORE_INTERNAL_SET_ID 2

##

memdbg=5
memlog=5

log_prefix_mode=1
#!ifdef WITH_LOG_STDERR
    log_stderror=yes
    log_prefix="[$Tf $cfg(line) $cfg(route)]"
#!else
    log_facility=LOG_LOCAL5
    log_prefix="[$cfg(line) $cfg(route)]"
#!endif

fork=yes

#!trydefenvs RUNDIR
#!trydef RUNDIR "/var/run/kamailio"
rundir=RUNDIR

/* uncomment the next line to disable the auto discovery of local aliases
   based on reverse DNS on IPs (default on) */
auto_aliases=no

# TCP tunning
tcp_max_connections=32768
tcp_connect_timeout=5
tcp_connection_lifetime=3605
tcp_conn_wq_max=32768
tcp_wq_max=10485760
tcp_linger2=30
tcp_rd_buf_size=65536
tcp_send_timeout=3
tcp_keepalive=yes
tcp_crlf_ping=yes
tcp_keepidle=30
tcp_keepintvl=30
tls_max_connections=4096

pv_buffer_size=4096

latency_limit_action=500000 #500ms
latency_limit_db=500000 #500ms

###### Custom Parameters #########

# These parameters can be modified runtime via RPC interface
# - see the documentation of 'cfg_rpc' module.
#
# Format: group.id = value 'desc' description
# Access: $sel(cfg_get.group.id) or @cfg_get.group.id
#


####### Modules Section ########

# set paths to location of modules (to sources or installation folders)
#!ifdef WITH_SRCPATH
    mpath="modules_k:modules"
#!else
    mpath="/usr/local/lib/kamailio/modules_k/:/usr/lib64/kamailio/modules/:/usr/lib/x86_64-linux-gnu/kamailio/modules/:/usr/lib/aarch64-linux-gnu/kamailio/modules/"
#!endif

#!ifdef WITH_TLS
    loadmodule "tls.so"
#!endif

loadmodule "ipops.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "pv.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "xlog.so"
loadmodule "ctl.so"
loadmodule "tm.so" ## dependency for sl
loadmodule "sl.so" ## dependency for xhttp
loadmodule "xhttp.so" ## dependency for jsonrpc
loadmodule "sdpops.so"
loadmodule "siputils.so"
loadmodule "json.so"

#!ifdef WITH_DMQUEUE
    include_file "dmqueue.cfg"
#!endif

loadmodule "htable.so"

# ----------------- setting module-specific parameters ---------------

#!trydefenvs STARTER_KAM_USER
#!trydef STARTER_KAM_USER "kamailio"

#!trydefenvs STARTER_KAM_GROUP
#!trydef STARTER_KAM_GROUP "kamailio"

modparam("ctl", "binrpc", "/var/run/kamailio/kamailio_ctl")
modparam("ctl", "binrpc_struct_max_body_size", 64)
modparam("ctl", "user", STARTER_KAM_USER)
modparam("ctl", "group", STARTER_KAM_GROUP)

modparam("htable", "db_url", DBCONFIG)
modparam("htable", "timer_procs", 2)
#!ifdef WITH_DMQUEUE
    modparam("htable", "enable_dmq", 1)
#!endif
modparam("htable", "htable", "params=>size=8;autoexpire=0;dbtable=ht_params;")
modparam("htable", "htable", "dialplans=>size=9;dbtable=ht_dialplans")
modparam("htable", "htable", "untrusted=>size=12;autoexpire=86400;")

#!ifdef WITH_DEBUG
    loadmodule "debugger.so"
    modparam("debugger", "cfgtrace", 0)
    modparam("debugger", "log_level", 2)
    modparam("debugger", "log_level_name", "exec")
#!endif

#!ifdef WITH_FAIL2BAN_SUPPORT
    loadmodule "file_out.so"
    #!trydefenvs FILE_OUT_CONTAINER_FOLDER
    #!trydefenvs FILE_OUT_NAME
    #!trydefenvs FILE_OUT_EXTENSION
    #!trydefenv FILE_OUT_RETENTION_INTERVAL
    #!defexps FILE_OUT_FILE_INFO "name=" + FILE_OUT_NAME + ";interval=" + FILE_OUT_RETENTION_INTERVAL + ";extension=" + FILE_OUT_EXTENSION
    modparam("file_out", "base_folder", FILE_OUT_CONTAINER_FOLDER)
    modparam("file_out", "file", FILE_OUT_FILE_INFO)
#!endif

#!ifdef WITH_TLS
    # ----- tls params -----

    #!trydefenvs TLS_METHOD
    #!trydef TLS_METHOD "TLSv1.2+"

    #!trydefenvs TLS_CIPHER_LIST
    #!trydef TLS_CIPHER_LIST "TLSv1.2:HIGH:!aNULL:!eNULL"

    #!trydefenvs TLS_CERTIFICATE
    #!trydef TLS_CERTIFICATE "/etc/kamailio/certs/tls.crt"

    #!trydefenvs TLS_PRIVATE_KEY
    #!trydef TLS_PRIVATE_KEY "/etc/kamailio/certs/tls.key"

    modparam("tls", "config", "tls.cfg")

    modparam("tls", "tls_method", TLS_METHOD)
    modparam("tls", "certificate", TLS_CERTIFICATE)
    modparam("tls", "private_key", TLS_PRIVATE_KEY)
    modparam("tls", "cipher_list", TLS_CIPHER_LIST)
#!endif

####### Include Routing blocks ##############
include_file "siptrace.cfg"
include_file "options.cfg"
include_file "logTrace.cfg"
include_file "onLocal.cfg"
include_file "onSend.cfg"
include_file "sanity.cfg"
include_file "pike.cfg"
include_file "nat.cfg"
include_file "rr.cfg"
include_file "onFailure.cfg"
include_file "onReply.cfg"
include_file "relay.cfg"
include_file "dispatcher.cfg"
include_file "init_req.cfg"
include_file "mid_req.cfg"
include_file "internal.cfg"
include_file "external.cfg"
include_file "http_prom.cfg"
include_file "dialplan.cfg"
include_file "jsonrpc.cfg"
include_file "rtimer.cfg"
#!ifdef WITH_MID_REGISTRAR_SUPPORT
    include_file "mid_reg.cfg"
#!endif

#!ifdef WITH_RTPENGINE
    include_file "rtpengine.cfg"
#!endif

####### Routing Logic ########

request_route {

    # set log level
    route(LOG_LEVEL);

    route(TRUSTED);

    ##route(PIKE);

    route(HEALTHCHECK);

    # trace and log
    route(LOG_TRACE);

    route(OPTIONS);

    route(HANDLE_NAT_REQUEST);

    route(MID_REQUEST);

    route(REQINIT);

    route(INTERNAL);

    route(EXTERNAL);

    exit;

}

onreply_route {
    xlog("L_DEBUG", "Received reply status code: $rs\n");

    if(!sanity_check("17604", "6")) {
		xlog("L_WARN", "[onreply_route] Malformed SIP response from $si:$sp\n");
		drop;
	}

}

event_route[htable:mod-init] {
    xlog("L_NOTICE", "[HTABLE:mod-init]: Starting Hash Tables");
}

route[LIVE_PROBE] {

    ## kamailio only deals with int32 integers so can't use total_size for the computation, as we use shared mem >= 2048, the number in bytes surpasses the value...

    if !($hu =~ '^/live-probe$' && $rm =~ 'GET')
        return;

    ## scale to lower numbers to avoid int32 problems as i need to * 100 to avoid / results on 0.x
    $var(free_mb) = $stat(free_size) / (1024*1024);
    $var(shm_probe) = ($var(free_mb) * 100) / SHM_MEMORY;
    $var(shm_threshold) = SHM_MEMORY_THRESHOLD;

    if ($var(shm_probe) > $var(shm_threshold))
        xhttp_reply("200", "OK", "application/json", '{"message:": "success - free shared memory at $var(shm_probe)%" }');
    else
        xhttp_reply("503", "Under Pressure", "application/json", '{"message:": "Server running under pressure - free shared memory its below $var(shm_threshold)% - $var(shm_probe)%" }');

    exit;

}

event_route[xhttp:request] {

    #!ifdef WITH_PROM_STATS
        route(SEND_RESPONSE_TO_PROMETHEUS);
    #!endif

    set_reply_close();
    set_reply_no_connect();

    route(LIVE_PROBE);
    route(WEBSOCKET_HANDSHAKE);

    exit;
}
