#!ifdef WITH_MID_REGISTRAR_SUPPORT
    loadmodule "outbound.so"
#!endif
loadmodule "rr.so"

modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)
modparam("rr", "enable_double_rr", 1)
modparam("rr", "sockname_mode", 1)

route[RECORD_ROUTE] {
    record_route(";webrtc_gateway=yes");
}
