
loadmodule "rtimer.so"

#!trydefenv DISPATCHER_RELOAD_INTERVAL
#!trydef DISPATCHER_RELOAD_INTERVAL 1800

#!defexps DISPATCHER_TIMER "name=dispatcher_timer;interval=" + DISPATCHER_RELOAD_INTERVAL + ";mode=1;"

modparam("rtimer", "timer", DISPATCHER_TIMER)
modparam("rtimer", "exec", "timer=dispatcher_timer;route=dispatcher_reload_timer")

modparam("rtimer", "timer", "name=secfilter_timer;interval=7200;mode=1;")
modparam("rtimer", "exec", "timer=secfilter_timer;route=SECFILTER_RELOAD_TIMER")

#!ifdef WITH_RTPENGINE
    #!trydefenv RTPENGINE_RELOAD_INTERVAL
    #!trydef RTPENGINE_RELOAD_INTERVAL 1800

    #!defexps RTPENGINE_TIMER "name=rtpengine_timer;interval=" + RTPENGINE_RELOAD_INTERVAL + ";mode=1;"

    modparam("rtimer", "timer", RTPENGINE_TIMER)
    modparam("rtimer", "exec", "timer=rtpengine_timer;route=RTPENGINE_RELOAD_TIMER")
#!endif

## TO think: An alternative is to do the reload only once per day on low traffic, but for now this setup seems ok

route[DISPATCHER_RELOAD_TIMER] {
    xlog("L_NOTICE", "[DISPATCHER_RELOAD_TIMER] Let's gonna do a dispatcher reload\n");
    ds_reload();
    if($rc != 0)
        xlog("L_ERR", "[DISPATCHER_RELOAD_TIMER] dispatcher reload failed");
}

route[SECFILTER_RELOAD_TIMER] {
    xlog("L_NOTICE", "[SECFILTER_RELOAD_TIMER] Let's gonna do a secfilter reload\n");
    jsonrpc_exec('{"jsonrpc":"2.0","method":"secfilter.reload"}');
    if($jsonrpl(code) != 200 )
        xlog("L_ERR", "[SECFILTER_RELOAD_TIMER] secfilter reload failed");

}

route[RTPENGINE_RELOAD_TIMER] {
    xlog("L_NOTICE", "[RTPENGINE_RELOAD_TIMER] Let's gonna do a rtpengine reload\n");
    jsonrpc_exec('{"jsonrpc":"2.0","method":"rtpengine.reload"}');
    if($jsonrpl(code) != 200 )
        xlog("L_ERR", "[RTPENGINE_RELOAD_TIMER] rtpengine reload failed");
}
