loadmodule "rtpengine.so"

#!trydefenv RTPENGINE_DISABLE_TOUT_SEC
#!trydef RTPENGINE_DISABLE_TOUT_SEC 30

#!trydefenv RTPENGINE_TOUT_MSEC_RESPONSE
#!trydef RTPENGINE_TOUT_MSEC_RESPONSE 2000

#!trydefenv RTPENGINE_MAX_RETRIES
#!trydef RTPENGINE_MAX_RETRIES 3

#!trydefenv RTPENGINE_HTABLE_MAX_TIME_MS
#!trydef RTPENGINE_HTABLE_MAX_TIME_MS 7200

modparam("rtpengine", "rtpengine_allow_op", 1)
modparam("rtpengine", "setid_default", 1)

modparam("rtpengine", "extra_id_pv", "$avp(rproxy_extra_id)")
modparam("rtpengine", "rtp_inst_pvar", "$avp(rproxy_instance)")

modparam("rtpengine", "hash_table_size", 128)

modparam("rtpengine", "db_url", DBCONFIG)
modparam("rtpengine", "table_name", "rtpengine")

modparam("rtpengine", "rtpengine_disable_tout", RTPENGINE_DISABLE_TOUT_SEC)
modparam("rtpengine", "rtpengine_tout_ms", RTPENGINE_TOUT_MSEC_RESPONSE)
modparam("rtpengine", "rtpengine_retr", RTPENGINE_MAX_RETRIES)
modparam("rtpengine", "hash_table_tout", RTPENGINE_HTABLE_MAX_TIME_MS)

modparam("rtpengine", "dtmf_event_callid", "$avp(dtmf_event_callid)")
modparam("rtpengine", "dtmf_event", "$avp(dtmf_event)")
modparam("rtpengine", "dtmf_event_timestamp", "$avp(dtmf_event_timestamp)")
modparam("rtpengine", "dtmf_event_source_tag", "$avp(dtmf_event_source_tag)")

modparam("htable", "htable", "rtp_profiles=>size=10;dbtable=kamailio.ht_rtp_profiles;")

route[RTPENGINE_MANAGE]{

    if(sdp_with_transport("RTP/SAVP"))
        $avp(has_srtp) = "SRTP-";

    ## nat_uac_test("256") seems to not be working - this is not 100% sure, and could require manipulation per UAs
    if(sdp_content() && nat_uac_test("8") && $si == $sdp(c:ip))
            $vn(trust_nat) = "-trust";

    if($avp(setid) == CORE_INTERNAL_SET_ID && $sht(rtp_profiles=>$avp(setid)) != $null) { ## Core --> WebRTC Gateway
        $vz(setid_rtp_profile_info) = $sht(rtp_profiles=>$avp(setid));

        $vz(rtp_template) = "template=" + $(vz(setid_rtp_profile_info){param.value,external}) + $vn(trust_nat);

    } else { ## direct UA's from Mid-Reg
        $vz(rtp_template) = "template=" + $(sht(rtp_profiles=>CORE_INTERNAL_SET_ID){param.value,internal}) + $vn(trust_nat);
    }

    xlog("L_INFO", "[RTPENGINE_MANAGE] template to be used: $vz(rtp_template), setid to use: $avp(rproxy_instance), sdp body: $rb");
    rtpengine_manage("$vz(rtp_template)");

}

event_route[rtpengine:dtmf-event] {
    xlog("L_INFO", "callid: $avp(dtmf_event_callid) , source_tag: $avp(dtmf_event_source_tag) , timestamp: $avp(dtmf_event_timestamp) , dtmf: $avp(dtmf_event) \n");
}
