loadmodule "sanity.so"
loadmodule "secfilter.so"
loadmodule "maxfwd.so"

modparam("sanity", "autodrop", 0)

modparam("secfilter", "db_url", DBLOCAL)

route[HEALTHCHECK] {

    route(SANITY);

    route(MAX_FORWARDS);

    route(SECFILTER);

}

route[SANITY] {

    if ((!sanity_check("3559", "7"))) {
        xlog("L_WARN", "Received a malformed SIP message, discarded.");
        drop();
    }

    if ($ru == "") {
        xlog("L_ERR", "RELAY: Empty R-URI, dropping request\n");
        sl_send_reply("400", "Bad Request");
        exit;
    }

    if (is_method("PUBLISH|MESSAGE")) {
        send_reply("405", "Method Not Allowed");
        exit;
    }

}

route[MAX_FORWARDS] {

    if (!maxfwd_process("20") && $retcode==-1) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    };

}

## fail2ban here
route[SECFILTER] {

    secf_check_ip();
    if ($rc == -2) {
        xlog("L_WARN", "$rm from $si blocked - IP address is blacklisted");
        drop();
    }

    secf_check_ua();
    if ($rc == -2) {
        xlog("L_WARN", "$rm from $ua blocked - User-Agent is blacklisted");
        drop();
    }

}
