
route[WEBSOCKET_PROTO_CHECK] {

    if (proto != WSS)
        exit;

}

route[WEBSOCKET_HANDSHAKE] {

    xlog("L_WARN", "[WEBSOCKET_HANDSHAKE] Here\n");
    xlog("L_WARN", "[WEBSOCKET_HANDSHAKE] $$hdr(Upgrade) --> $hdr(Upgrade) , $$hdr(Connection) --> $hdr(Connection) , $$rm --> $rm and $$proto --> $proto \n");

    ##route(WEBSOCKET_PROTO_CHECK);

    if ($hdr(Upgrade) =~ "websocket" && $hdr(Connection) =~ "Upgrade" && $rm =~ "GET") {

        ## remove for now this || check, not really needed as this is an internal hop, and requires alias update --> !is_myself("sip:" + $hdr(Host))
		if ($hdr(Host) == $null) {
			xlog("L_WARN", "Bad host $hdr(Host)\n");
			xhttp_reply("403", "Forbidden", "", "");
			exit;
		}

        if (ws_handle_handshake())
            xlog("L_INFO", "Successfull handshake\n");

        exit;

    }

}

route[WEBSOCKET_HANDLE_AUTH] {

    route(HANDLE_REGISTER);

}
